# Project exclude paths
/.idea/
/cmake-build-debug/
/quantum-tests/lib/gtest-1.10.0/CMakeFiles/

/docs/latex/*
!/docs/latex/Makefile
!/docs/latex/refman.tex
!/docs/latex/refman.pdf
/quantum-tests/lib/gtest-1.10.0/scripts/*
/quantum-tests/lib/gtest-1.10.0/test/*
